.rub::after {
    content: "₽";
    display: inline-block;
    padding-left: 6px;
}
.arrow{
    position: relative;
}
.arrow::after {
    content: "";
    position: absolute;
    background-image: url("../images/svg/arrow.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.3s ease-in;
}