// screen-resolution
$container-max-width: 1200px;
$desktop-width-middle: 1440px;
$desktop-width: 1200px;
$tablet-width: 1024px;
$mobile-width: 767px;
$mobile-width-middle: 480px;
$mobile-width-min: 375px;

//padding
$desktop-padding: 0 30px;
$tablet-padding: 0 15px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

//fonts
$OpenSans: "OpenSans-Regular", arial, sans-serif;
$OpenSans-SemiBold: "OpenSans-SemiBold", arial, sans-serif;
$OpenSans-Bold: "OpenSans-Bold", arial, sans-serif;
$OpenSans-ExtraBold: "OpenSans-ExtraBold", arial, sans-serif;

//font-weight
$Normal: 400;
$Semi: 600;
$Bold: 700;
$Extra: 800;

//colors
$Black: #000000;
$White: #ffffff;
$bg-body: #151515;
$red: #df382d;
$crimson: #511511;
$grey: #4c4c4c;
$grey-1: #C9C9C9;
$grey-2: #4A4A4A;
$grey-3: #272424;
$bg-all-lang: #2f2f2f;
$bg-header: #1b1b1b;
$bg-sidebar:#1b1b1b;
$bg-info:#1b1b1b;
$bg-history:#1b1b1b;
$bg-pop-up:#1b1b1b;
$status-yellow: #FFD43A;
$status-green: #5BDF2D;
$status-grey: #777;
