<!DOCTYPE html>
<html lang="ru">
  <body>
    <ol class="index-list">
      <li>
        <h2>Главная</h2>
        <a href="test-2.html">Тест</a>
      </li>
      <li>
        <h2>Профиль</h2>
        <a href="profile.html">Тест</a>
      </li>
    </ol>
    <!-- @include('general/scripts.html') -->
    <script> </script> 
  </body>
</html>
