<!DOCTYPE html>
<html lang="ru">
  <body class="preload">
    <header class="header">
      <div class="container">
        <div class="header__wrapper">
          <div class="logo">
            <a href="">
              <img src="../images/svg/logo.svg" alt="" />
            </a>
          </div>
          <nav class="header-nav">
            <ul class="header__list">
              <li class="header-list__item link_shop">
                <a href="">магазин</a>
              </li>
              <li class="header-list__item link_show">
                <a href="">примерить</a>
              </li>
              <li class="header-list__item link_inventory">
                <a href="">инвентарь</a>
              </li>
              <li class="header-list__item link_help">
                <a href="">помощь</a>
              </li>
            </ul>
          </nav>
          <div class="header__btns">
            <div class="header__languages dropDown">
              <div class="header-languages__current">
                <img src="../images/svg/russia.svg" alt="" />
                <p>RU</p>
              </div>
              <div class="hide__items header-languages__all">
                <div class="hide-items__wrapper languages-all__wrapper">
                  <div class="hide__item languages-all__item">
                    <a href="">
                      <img src="../images/svg/russia.svg" alt="" />
                      ru
                    </a>
                  </div>
                  <div class="hide__item languages-all__item">
                    <a href="">
                      <img src="../images/svg/eng.svg" alt="" />
                      eng
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="header__currency dropDown">
              <div class="header-currency__current">
                <p><span>₽</span> rub</p>
              </div>
              <div class="hide__items header-languages__all">
                <div class="hide-items__wrapper currency-all__wrapper">
                  <div class="hide__item currency-all__item">
                    <a href=""><span>₽</span> rub </a>
                  </div>
                  <div class="hide__item currency-all__item">
                    <a href=""> <span>$ </span>usd </a>
                  </div>
                  <div class="hide__item currency-all__item">
                    <a href=""> <span>€ </span> eur </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
    
          <a class="header__logIn" href="#popupauth">
            <img src="../images/svg/user.svg" alt="" />
            <p>Войти</p>
          </a>    
        </div>
      </div>
    </header>
    <main>
      <section class="page">
        <div class="page__wrapper">
          <div class="sidebar">
            <div class="sidebar__wrapper">
              <div class="sidebar__currency sidebar__item">
                <p class="sidebar-item__title">цена</p>
                <div class="sidebar-currency__area">
                  <div class="sidebar-currency__wrapper">
                    <div class="sidebar-currency__item">
                      <label for="₽">₽</label><input type="number" min="0.00" max="99999.99" value="0.00" step="0.01"/>
                    </div>
                    <div class="sidebar-currency__rasdel"></div>
                    <div class="sidebar-currency__item">
                      <label for="$">$</label><input type="number" value="99999.99" min="0.0" max="99999.99" step="0.01"/>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar__types sidebar__item">
                <p class="sidebar-item__title">Тип</p>
                <div class="sidebar-types__area">
                  <div class="sidebar-types__item">
                    <input type="checkbox" class="custom-check" name="knife" id="knife" />
                    <label for="knife">Ножи</label>
                  </div>
                  <div class="sidebar-types__item">
                    <input
                      type="checkbox"
                      class="custom-check"
                      name="Пистолеты"
                      id="Pistol"
                    />
                    <label for="Pistol">Пистолеты</label>
                  </div>
                  <div class="sidebar-types__item">
                    <input type="checkbox" class="custom-check" name="pet" id="pet" />
                    <label for="pet">Петы</label>
                  </div>
                  <div class="sidebar-types__item">
                    <input type="checkbox" class="custom-check" name="сеты" id="set" />
                    <label for="set">сеты</label>
                  </div>
                </div>
              </div>
              <div class="sidebar__rarity sidebar__item">
                <p class="sidebar-item__title">Редкость</p>
          
                <div class="sidebar-rarities dropDown">
                  <div class="sidebar-rarities_current">
                    <p>Показать все</p>
                  </div>
                  <div class="hide__items sidebar-rarities__all">
                    <div class="hide-items__wrapper sidebar-rarities__wrapper">
                      <div class="hide__item sidebar-rarities__item">
                        <div style="background-color: #44F6E8" class="dot"></div>
                        <input type="checkbox" name="chroma" id="chroma" />
                        <label for="chroma">chroma</label>
                      </div>
                      <div class="hide__item sidebar-rarities__item">
                        <div style="background-color: #9605FF" class="dot"></div>
                        <input type="checkbox" id="Ancients" name="Ancients" />
                        <label for="Ancients">Ancients</label>
                      </div>
                      <div class="hide__item sidebar-rarities__item">
                        <div style="background-color: #CA3FB0" class="dot"></div>
                        <input type="checkbox" id="Ancients" name="Ancients" />
                        <label for="Ancients">Godly</label>
                      </div>
                      <div class="hide__item sidebar-rarities__item">
                        <div style="background-color: #ECA53D" class="dot"></div>
                        <input type="checkbox" id="Ancients" name="Ancients" />
                        <label for="Ancients">Vintages</label>
                      </div>
                      <div class="hide__item sidebar-rarities__item">
                        <div style="background-color: #D96A00" class="dot"></div>
                        <input type="checkbox" id="Ancients" name="Ancients" />
                        <label for="Ancients">corrupt</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="sidebar__socials">
                <a href="">
                  <img src="../images/svg/vk.svg" alt="" />
                </a>
                <a href="">
                  <img src="../images/svg/diskord.svg" alt="" />
                </a>
                <a href="">
                  <img src="../images/svg/inst.svg" alt="" />
                </a>
                <a href="">
                  <img src="../images/svg/like.svg" alt="" />
                </a>
              </div>
              <div class="sidebar__img"><img src="../images/png/lego.png" alt="" /></div>
            </div>
          </div>
          
          <div class="page__area">
            <div class="page-area__wrapper">
              <div class="pages__statusPanel">
                <form action="" class="form-search">
                  <input type="text" placeholder="Поиск..." />
                </form>

                <div class="form__control form__select" data-form-dropdown="">
                  <div
                    class="form__options-container"
                    data-form-dropdown-container=""
                  >
                    <div class="form__option" data-form-dropdown-option="">
                      <input
                        id="digital-strategy-header"
                        type="radio"
                        name="standart"
                        value="standart"
                      />
                      <label for="digital-strategy-header">
                        <img src="../images/svg/standart.svg" alt="" />

                        По стандарту</label
                      >
                    </div>
                    <div class="form__option" data-form-dropdown-option="">
                      <input
                        id="optimization-header"
                        type="radio"
                        name="cheaper"
                        value="cheaper"
                      />
                      <label for="optimization-header">
                        <img src="../images/svg/decr.svg" alt="" />

                        Дешевле</label
                      >
                    </div>
                    <div class="form__option" data-form-dropdown-option="">
                      <input
                        id="design-header"
                        type="radio"
                        name="expensive"
                        value="expensive"
                      />
                      <label for="design-header">
                        <img src="../images/svg/incr.svg" alt="" />

                        Дороже</label
                      >
                    </div>
                    <div class="form__option" data-form-dropdown-option="">
                      <input
                        id="design-header"
                        type="radio"
                        name="expensive"
                        value="expensive"
                      />
                      <label for="design-header">
                        <img src="../images/svg/incr.svg" alt="" />asdasdasdasdsaas</label
                      >
                    </div>
                  </div>

                  <div class="form__selected-wrapper" data-form-wrapper="">
                    <div class="form__selected-btn">
                      <img src="../images/svg/inter.svg" alt="" />
                    </div>

                    <div
                      class="form__option-selected form__input"
                      data-form-dropdown-selected=""
                    >
                      <img src="../images/svg/standart.svg" alt="" />
                      По стандарту
                    </div>
                  </div>
                </div>
              </div>
              <div class="carts">
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart1.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Candleflame</p>
                    <p>1000 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart2.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Darkbringer</p>
                    <p>160 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart3.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Lightbringer</p>
                    <p>160 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart4.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>slasher</p>
                    <p>140 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart5.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>slasher</p>
                    <p>140 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart1.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Candleflame</p>
                    <p>1000 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart2.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Darkbringer</p>
                    <p>160 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart3.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Lightbringer</p>
                    <p>160 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart4.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>slasher</p>
                    <p>140 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart5.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>slasher</p>
                    <p>140 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart1.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Candleflame</p>
                    <p>1000 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart2.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Darkbringer</p>
                    <p>160 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart3.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Lightbringer</p>
                    <p>160 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart4.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>slasher</p>
                    <p>140 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart5.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>slasher</p>
                    <p>140 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart1.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Candleflame</p>
                    <p>1000 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart2.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Darkbringer</p>
                    <p>160 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart3.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Lightbringer</p>
                    <p>160 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart4.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>slasher</p>
                    <p>140 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart5.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>slasher</p>
                    <p>140 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart1.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Candleflame</p>
                    <p>1000 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart2.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Darkbringer</p>
                    <p>160 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart3.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>Chroma Lightbringer</p>
                    <p>160 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart4.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>slasher</p>
                    <p>140 ₽</p>
                  </div>
                </a>
                <a href="#pop-up-buy" class="cart">
                  <div class="cart__img">
                    <img src="../images/png/cart5.png" alt="" />
                  </div>
                  <div class="cart__content">
                    <p>slasher</p>
                    <p>140 ₽</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <div class="pop-up" id="popupauth">
      <div class="pop-up__inner">
        <a class="pop-up__btn-close" href="#"></a>
        <h3 class="pop-up__title">Вход в аккаунт</h3>
        <form action="" class="pop-up__auth-form">
          <div valid class="pop-up-auth__field username">
            <div>
              <img src="../images/svg/user-red.svg" alt="" />
              <input type="text" class="pop-up-auth__input" id="auth-username" name="username" placeholder="Никнейм или email">
              <div class="error"></div>
            </div> 
            <small>данные введены неверно</small>
          </div>
          <div class="pop-up-auth__field password">
            <div>
              <img src="../images/svg/lock-red.svg" alt="" />
              <input type="password" class="pop-up-auth__input" id="auth-password" name="password"  placeholder="Пароль">
              <div class="btn-visibility">
              </div>
              <div class="error"></div>
            </div>  
            <small>данные введены неверно</small>
          </div>
          <div class="pop-up-auth__buttons-login">
            <button class="pop-up-cart__form-btn" type="submit">
              <p>ВОЙТИ</p>
              <img src="../images/svg/arrow-right-white.svg" alt="" />
            </button>        
            <a href="#popupsignin" class="pop-up-cart__form-btn-grey">
              <p>создать аккаунт</p>
            </a>  
            <div class="pop-up-auth__services">
              <div class="pop-up-auth__service-btn">
                <img src="../images/png/google.png" alt="google" />
              </div>
              <div class="pop-up-auth__service-btn">
                <img src="../images/png/vk.png" alt="vk" />
              </div>
              <div class="pop-up-auth__service-btn">
                <img src="../images/png/discord.png" alt="discord" />
              </div>
            </div>      
          </div>
        </form>
      </div>
    </div>
    <div class="pop-up" id="popupsignin">
      <div class="pop-up__inner">
        <a class="pop-up__btn-close" href="#"></a>
        <h3 class="pop-up__title">создание аккаунтат</h3>
        <form action="" class="pop-up__auth-form" novalidate>
          <div class="pop-up-auth__field username">
            <div>
              <img src="../images/svg/user-red.svg" alt="" />
              <input type="text" class="pop-up-auth__input" id="auth-username-reg" name="username" placeholder="Придумайте никнейм">
              <div class="error"></div>
            </div>
            <small>данные введены неверно</small>
          </div>
          <div class="pop-up-auth__field password">
            <div>
              <img src="../images/svg/lock-red.svg" alt="" />
              <input type="password" class="pop-up-auth__input" id="auth-password-reg" name="password"  placeholder="Придумайте пароль">
              <div class="error"></div>
            </div>
            <small>данные введены неверно</small>
          </div>
          <div class="pop-up-auth__field email">
            <div>
              <img src="../images/svg/message-red.svg" alt="" />
              <input type="email" class="pop-up-auth__input" id="auth-email-reg" name="email"  placeholder="Email (необязательно)">
              <div class="error"></div>
            </div>
            <small>такого email  не существует</small>
          </div>

          <div class="pop-up-auth__checkbox">
            <input type="checkbox" class="custom-check" id="auth-police" name="police">
            <label for="auth-police"> 
              <span>
                Я согласен с <a href="#"> политикой конфиденциальности</a>
              </span>
            </label>
          </div>
          <button class="pop-up-cart__form-btn" type="submit">
            <p>создать аккаунт</p>
          </button>        
        </form>
      </div>
      </div>
    </div>
    <div class="pop-up" id="pop-up-buy">
      <div class="pop-up__inner">
        <a class="pop-up__btn-close" href="#"></a>
        <div class="pop-up__cart">
          <div class="pop-up-cart__img">
          <img src="../images/png/cart-pop-up.png"/>
          </div>
          <div class="pop-up-cart__content">
            <h3 class="pop-up-cart__title">Plasmablade Gamepass</h3>
            <ul class="pop-up-cart__info">
              <li class="pop-up-cart__info-item cart-info-item">
                <span class="cart-info-item__label">тип</span>
                <span class="cart-info-item__value">ножи</span>
              </li>
              <li class="pop-up-cart__info-item cart-info-item">
                <span class="cart-info-item__label">качество</span>
                <span class="cart-info-item__value">godly</span>
              </li>
            </ul>
            <form action="" class="pop-up-cart__form">
              <div class="cart-info-item">
                <label for="" class="pop-up-cart__form-label cart-info-item__label">количество</label>
                <div class="pop-up-cart__form-number">
                  <div class="number-minus">
                    <img rc="../images/svg/minus-red.svg" alt="-"/>
                  </div>
                  <input class="pop-up-cart__form-input" type="number" value="100" readonly min="1" max="100">
                  <div class="number-plus">
                    <img rc="../images/svg/plus-red.svg" alt="+"/>
                  </div>
                </div>
                </div>
              <div class="pop-up-cart__form-total rub">
                149
              </div>
              <div class="pop-up-cart__form-empty-balance">
                <a href="#" class="pop-up-cart__form-btn">
                  <img src="../images/svg/credit-card-white.svg" alt="" />
                  <p>пополнить баланс</p>
                </a>        
              </div>
              <div class="pop-up-cart__form-replenished-balance">
                <a href="#" class="pop-up-cart__form-btn">
                  <img src="../images/svg/purchase-white.svg" alt="" />
                  <p>купить предмет</p>
                </a>        
                <a href="#" class="pop-up-cart__form-btn-grey">
                  <img src="../images/svg/credit-card-white.svg" alt="" />
                  <p>пополнить баланс</p>
                </a>        
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
    <script> 
      window.onload = function() {
        document.body.classList.remove("preload");
      }
    </script>
  </body>
</html>
