.logo {
  max-width: 314px;
  width: 100%;
  margin-right: auto;
  img {
    width: 100%;
  }
}
.header {
  background-color: $bg-header;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__wrapper {
  display: flex;
  gap: 39px;
  align-items: center;
  justify-content: space-between;
}
.header__btns {
  display: flex;
  gap: 19px;
  align-items: center;
}
.header__list {
  display: flex;
  gap: 100px;
  align-items: center;
}

.header__logIn {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  max-width: 331px;
  width: 100%;
  gap: 11px;
  background: linear-gradient(100.85deg, #df382d 18.11%, #9f0200 105.95%);
  border-radius: 10px;
  padding: 21.5px;
  margin-left: auto;
  p {
    font-size: 26px;
    line-height: 35px;
    text-transform: uppercase;
    color: $White;
    font-family: $OpenSans-Bold;
    font-weight: $Bold;
  }
  img {
    width: auto;
  }
}

.header-list__item {
  a {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 25px;
    font-family: $OpenSans-Bold;
    font-weight: $Bold;
    color: $White;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.link_shop,
.link_show,
.link_inventory,
.link_help {
  a {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: -28px;

      width: 20px;
      height: 20px;
    }
  }
}

.link_shop {
  background: $red;
  border-radius: 10px;
  padding: 18px;
  width: 180px;
  a {
    padding-left: 20px;
    &::before {
      left: 10px;
      background: url("../images/svg/shop.svg") center no-repeat;
    }
  }
}

.link_help {
  a {
    &::before {
      background: url("../images/svg/vopros.svg") center no-repeat;
    }
  }
}

.link_show {
  a {
    &::before {
      background: url("../images/svg/eye.svg") center no-repeat;
    }
  }
}

.link_inventory {
  a {
    &::before {
      background: url("../images/svg/app.svg") center no-repeat;
    }
  }
}


.dropDown {
  position: relative;
  height: 60px;
  &:hover,
  &:focus {
    .hide__items {
      padding-top: 10px;
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0.15s;
      top: 100%;
    }
    .header-languages__current, .header-currency__current {
      p {
        &::before {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.header-languages__current {
  border: 2px solid $red;
  border-radius: 10px;
  display: flex;
  height: 100%;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 7px 44px 7px 19px;
  cursor: pointer;

  p {
    font-size: 20px;
    line-height: 27px;
    font-family: $OpenSans-Bold;
    font-weight: $Bold;
    text-transform: uppercase;
    color: $White;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background: url("../images/svg/arrow.svg") center no-repeat;
      width: 25px;
      height: 25px;
      right: calc(-100%);
      bottom: 0;
      transition: 0.3s ease-in;
    }
  }
}
.hide-items__wrapper {
  background: $bg-all-lang;
  border-radius: 10px;
  padding: 16px 10px;
  display: flex;
  z-index: 1;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.hide__items {
  position: absolute;
  z-index: 100;
  width: 100%;
  transform: translateY(-30px);
  opacity: 0;
  transition: transform 0.5s linear 0.1s, opacity 0.1s linear 0.1s, height 0.1s linear 0.1s;
  top: -9999px;
  left: 0;
  height: 0;
  padding: 0;
}

.hide__item {
  transition: 0.3s linear;
  a {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: $OpenSans-Bold;
    font-weight: $Bold;
    color: $White;
  }
  img {
    width: 40px;
  }

  &:hover,
  &:focus {
    background: $grey;
    border-radius: 10px;
  }
}

.header__currency {
  border: 2px solid $red;
  border-radius: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 7px 44px 7px 19px;
  cursor: pointer;
  p {
    font-size: 20px;
    line-height: 27px;
    text-transform: uppercase;
    font-family: $OpenSans-Bold;
    font-weight: $Bold;
    color: $White;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background: url("../images/svg/arrow.svg") center no-repeat;
      width: 25px;
      height: 25px;
      right: -25px;
      bottom: 0;
      transition: 0.3s ease-in;
    }
  }
}

.header {
  &__info-user{
    display: flex;
    margin-left: 94px;
    position: relative;
    // transition: 0.3s ease-in;
    // transition-delay: 0.15s;

    .hide__items {
      top: 100%;
      transform: translateY(0);
      transition: opacity .5s;
      visibility: hidden;
    }

    .hide__item {
      text-align: left;

        a {
          width: 100%;
          padding: 9px 0 7px 48px;
          font-size: 16px;
          line-height: 22px;
          font-family: $OpenSans-SemiBold;
          font-weight: $Semi;
          text-transform: capitalize;
          display: inline-block;
          position: relative;
          &::before {
            content: '';
            display: block;
            position: absolute;
            left: 17px;
            top: 50%;
            transform: translateY(-50%);
            width: 21px;
            height: 21px;
          }
        }
        &:nth-child(1) a::before {
          background: url("../images/svg/credit-card-red.svg") center no-repeat;
        }
        &:nth-child(2) a::before {
          background: url("../images/svg/profile-icon.svg") center no-repeat;
        }
        &:nth-child(3) a::before {
          background: url("../images/svg/log-out.svg") center no-repeat;
        }


    }

    
  }
  &__bill {
    display: flex;
    align-items: center;
    padding: 8px 14px;
    border-radius: 8.44291px;
    background: $bg-all-lang;
  }
  &__profile {
    cursor: pointer;
    width: 84px;
    margin-left: 25px;
  }
  &__profile-wrapper {}
}
.header-bill {
  
  &__img {
    margin-right: 14px;
  }
  &__value {
    line-height: 24px;
    font-size: 18px;
    font-family: $OpenSans-Bold;
    font-weight: $Bold;
    margin-right: 14px;
    white-space: nowrap;
  }
  &__btn {
    background: $red;
    border-radius: 8.44291px;
    padding: 14px;
    cursor: pointer;

  }
}
.header-info-user__options{
  max-width: 175px;
  left: auto;
  right: 0;
  padding-top: 14px;
}
.header-profile {
  &__img {
    border-radius: 8.44291px;
    width: 60px;
    height: 60px;
  }
  &__options {}
}
[drop-down-btn].active > .arrow::after {
  transform: rotate(180deg) translateY(50%);
}
[drop-down-content].active {
  opacity: 1;
  visibility: visible;
  top: 100%;
  height: auto;
}

.options-all {
  &__wrapper {}
  &__item {}
}

