.profile {
    max-width: 1854px;
    margin: 0 auto;
    padding-top: 39px;

    .page__wrapper{
        display: grid;
        grid-template-columns: auto minmax(auto, 1150px);
        grid-auto-rows: auto 1fr;
        grid-template-areas: "tabs area"
                             "info area";

        &.show-history{
            display: block;
        }
    
    }
    .page__area{
        grid-area: area;
        margin-top: 0;
        padding: 31px 42px;
        background-color: $bg-history;
        border-radius: 17.5728px;
    }
    .carts{
        gap: 34px;
        height: calc(100vh - 330px);
    }
}
.profile__tabs{
    display: flex;
    grid-area: tabs;
    margin-bottom: 47px;

    .tab{
        display: flex;
        cursor: pointer;
        align-items: center;
        border-radius: 10px;
        padding: 8px 25px 14px 28px;

        &.active{
            background: linear-gradient(100.85deg, #df382d 18.11%, #9f0200 105.95%);
        }
        p {
          font-size: 24px;
          line-height: 33px;
          text-transform: capitalize;
          color: $White;
          font-family: $OpenSans-Bold;
          font-weight: $Bold;
        }
        img {
          width: 22px;
          height: 30px;
          margin-right: 14px;
        }    

    }
    .tab + .tab {
        margin-left: 40px;
    }
    
}
.profile__info{
    grid-area: info;
    opacity: 1;
    visibility: visible;
    height: auto;
    transition: opacity .3s;

    h3{
        text-align: left;
        font-family: $OpenSans-Bold;
        font-weight: $Bold;
        font-size: 30px;
        line-height: 41px;
        text-transform: capitalize;
    }

    &.hide {
        opacity: 0;
        visibility: hidden;
        height: 0;
        overflow: hidden;
    }

}
.profile-info {
    &__content {
        margin-top: 30px;
        display: flex;
        align-items: center;
        padding-bottom: 33px;
        margin-bottom: 27px;
        border-bottom: 0.878641px solid $grey;
    }
    &__large-items {
        text-align: left;
        font-family: $OpenSans-SemiBold;
        font-weight: $Semi;
        font-size: 18px;
        line-height: 25px;
        span {
            font-family: $OpenSans-Bold;
            font-weight: $Bold;    
        }
    }
    &__edit{
        display: flex;
        opacity: 0;
        visibility: hidden;
        z-index: -10;
        transition: opacity .3s;
        height: 0;
        overflow: hidden;
        margin: 0;
        &.visible {
            opacity: 1;
            visibility: visible;
            z-index: 1;    
            height: auto;
            margin-top: 49px;
            overflow: visible;
        }
    }
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        opacity: 0;
        visibility: hidden;
        z-index: -10;
        transition: opacity .3s;
        height: 0;
        overflow: visible;
        margin: 0;
        &.visible {
            opacity: 1;
            visibility: visible;
            z-index: 1;    
            height: auto;
            margin-top: 30px;
        }

        & > div {
            text-align: right;
            margin-right: 41px;
            width: 100%;

            & > small {
                font-family: $OpenSans-SemiBold;
                font-weight: $Semi;
                font-size: 14px;
                line-height: 19px;
                color: $red;
                margin-bottom: 7px;
                display: inline-block;
                opacity: 0;
                transition: all .3s;
                visibility: hidden;
            }

            &.invalid {
                & > small{
                    opacity: 1;
                    visibility: visible;
                }
                & .profile-info__input-wrapper {
                    border: 1.5px solid $red;
                }
            }
        }
    }
    &__avatar{
        border-radius: 8.44291px;
        width: 70px;
        height: 70px;    
        margin-right: 24px;
    }
    &__username {
        font-family: $OpenSans-Bold;
        font-weight: $Bold;
        font-size: 17.5728px;
        line-height: 24px;
        text-transform: capitalize;
    }
    &__personal {
        background-color: $bg-info;
        border-radius: 17.5728px;
        padding: 40px 42px;
        margin-bottom: 40px;
    }
    &__email {
        background-color: $bg-info;
        border-radius: 17.5728px;
        padding: 40px 42px;
    }
    &__input-wrapper {
        position: relative;
        padding-left: 54px;
        background-color: $bg-body;
        border: 2px solid transparent;
        border-radius: 10px;

        &:focus-within{
            border: 2px solid $red;
        }

        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 22px;
            height: 22px;
            left: 17px;
            top: 50%;
            transform: translateY(-50%);
            background: url("../images/svg/email-red.svg") center no-repeat;
        }
    }
    &__input {
        display: inline-block;
        width: 100%;
        font-family: $OpenSans-SemiBold;
        font-weight: $Semi;
        font-size: 18px;
        line-height: 25px;
        background-color: inherit;
        border: 2px solid transparent;
        border-radius: 20px;
        padding: 10px;

        &:focus{
            border: 1px solid $bg-body;
        }
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active  {
            box-shadow: 0 0 0 40px $bg-body inset !important;
            border: 1px solid $bg-body;
            outline: 0;
            font-family: $OpenSans-SemiBold;
            font-weight: $Semi;
            font-size: 18px;
            line-height: 25px;
            -webkit-text-fill-color: $White !important;
            color: $White !important;    
            background-image: none !important;
        }
    }
    &__text {
        font-family: $OpenSans-SemiBold;
        font-weight: $Semi;
        font-size: 18px;
        line-height: 25px;
        margin-top: 53px;
        text-align: left;
    }
    &__btn-edit-email{
        font-family: $OpenSans-Bold;
        font-weight: $Bold;
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
        padding: 19px;
        transition: all .3s;
        color: $red;

        &[disabled] {
            color: $crimson;
        }
    }
}
.profile-edit {
    &__text {
        display: inline-block;
        font-family: $OpenSans-SemiBold;
        font-weight: $Semi;
        font-size: 18px;
        line-height: 25px;
    }
    &__btn-change-email {
        cursor: pointer;
        margin-left: 15px;
        width: 22px;
        height: 22px;
    }
}
.profile {

    .page-area__wrapper{
        // height: 100%;
        opacity: 1;
        visibility: visible;
        transition: opacity .3s;
    
        &.hide {
            overflow: hidden;
            width: 0;
            opacity: 0;
            visibility: hidden;
            height: 0;
        }
    
    }
    .history {
        &__title{
            text-align: left;
            font-family: $OpenSans-Bold;
            font-weight: $Bold;
            font-weight: 700;
            font-size: 30px;
            line-height: 41px;
            margin-bottom: 48px;
        }
        .cart__img img {
            max-height: 140px;
            min-height: auto;
            min-width: 140px;
        }
        &__carts-empty{
            justify-content: center;
            align-items: center;
            height: calc(100% - 89px);
            display: none;
            span {
                font-family: $OpenSans-SemiBold;
                font-weight: $Semi;
                font-size: 20px;
                line-height: 27px;
                color: $grey;
            }
        }    
    }

    .replenishment{
        overflow-y: auto;
        display: block;
        height: calc(100vh - 370px);

        & {
            scrollbar-width: thin;
            scrollbar-color: $grey-2 $grey-3;
        }
        
        &::-webkit-scrollbar {
            width: 19px;
        }
        
        &::-webkit-scrollbar-track {
            background: $grey-3;
            border-radius: 10px;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: $grey-2;
            border-radius: 20px;
            border: 3px solid $grey-3;
        }        

        &__table{
            max-width: 1241px;
            margin: 0 auto;
            &, tbody{
                width: 100%;
            }
            tr {
                display: flex;
                padding: 26px 0;
            }
            tr + tr {
                border-bottom: 1px solid $grey;
            }
            td, th{
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(100% / 5);
            }
            tr:nth-child(1) > td {
                display: flex;
                align-items: center;
                span{
                    margin-left: 14px;
                    font-family: $OpenSans-Bold;
                    font-weight: $Bold;
                    font-size: 24px;
                    line-height: 33px;
                    text-transform: uppercase;
                }
            }
            tr:not(:first-child) > td {
                font-family: $OpenSans-SemiBold;
                font-weight: $Semi;
                font-size: 20px;
                line-height: 27px;
                color: #FDFFFD;
            }
            .status{
                padding-left: 30px;
                position: relative;
            
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 11px;
                    height: 11px;
                    border-radius: 2px;

                }
                &.processing::before{
                    background-color: $status-yellow;
                }
                &.translated::before{
                    background-color: $status-green;
                }
                &.canceled::before{
                    background-color: $status-grey;
                }
            }
        }
        &__empty {
            justify-content: center;
            align-items: center;
            height: calc(100% - 87px);
            display: none;
            span {
                font-family: $OpenSans-SemiBold;
                font-weight: $Semi;
                font-size: 20px;
                line-height: 27px;
                color: $grey;
            }
        }
    }
}

