<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="logo">
        <a href="">
          <img src="../../images/svg/logo.svg" alt="" />
        </a>
      </div>
      <nav class="header-nav">
        <ul class="header__list">
          <li class="header-list__item link_shop">
            <a href="">магазин</a>
          </li>
          <li class="header-list__item link_show">
            <a href="">примерить</a>
          </li>
          <li class="header-list__item link_inventory">
            <a href="">инвентарь</a>
          </li>
          <li class="header-list__item link_help">
            <a href="">помощь</a>
          </li>
        </ul>
      </nav>
      <div class="header__btns">
        <div class="header__languages dropDown">
          <div class="header-languages__current">
            <img src="../../images/svg/russia.svg" alt="" />
            <p>RU</p>
          </div>
          <div class="hide__items header-languages__all">
            <div class="hide-items__wrapper languages-all__wrapper">
              <div class="hide__item languages-all__item">
                <a href="">
                  <img src="../../images/svg/russia.svg" alt="" />
                  ru
                </a>
              </div>
              <div class="hide__item languages-all__item">
                <a href="">
                  <img src="../../images/svg/eng.svg" alt="" />
                  eng
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="header__currency dropDown">
          <div class="header-currency__current">
            <p><span>₽</span> rub</p>
          </div>
          <div class="hide__items header-languages__all">
            <div class="hide-items__wrapper currency-all__wrapper">
              <div class="hide__item currency-all__item">
                <a href=""><span>₽</span> rub </a>
              </div>
              <div class="hide__item currency-all__item">
                <a href=""> <span>$ </span>usd </a>
              </div>
              <div class="hide__item currency-all__item">
                <a href=""> <span>€ </span> eur </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <a class="header__logIn" href="#popupauth">
        <img src="../../images/svg/user.svg" alt="" />
        <p>Войти</p>
      </a>
      <!-- <div class="header__info-user">
        <div class="header__bill">
          <img class="header-bill__img" src="../../images/svg/wallet.svg" alt="Кошелек" />
          <span class="rub header-bill__value">23234</span>
          <div class="header-bill__btn">
            <img src="../../images/svg/plus.svg" />
          </div>
        </div>
  
        <div class="header__profile" drop-down-btn>
          <div class="header__profile-wrapper arrow">
            <img class="header-profile__img" src="../../images/jpg/avatar.jpg" alt="Аватар"/>
          </div>
  
        </div>
        <div class="hide__items header-info-user__options" drop-down-content>
          <div class="hide-items__wrapper options-all__wrapper">
            <div class="hide__item options-all__item">
              <a href="">Пополнить </a>
            </div>
            <div class="hide__item options-all__item">
              <a href="">Профиль</a>
            </div>
            <div class="hide__item options-all__item">
              <a href="">Выйти</a>
            </div>
          </div>
        </div>


      </div> -->

    </div>
  </div>
</header>
