<div class="profile__tabs tabs">
    <div class="tab active">
        <img src="../../images/svg/user.svg" alt="" />
        <p>Профиль</p>
    </div>
    <div class="tab">
        <img src="../../images/svg/credit-card-white.svg" alt="" />
        <p>Пополнения</p>
    </div>

</div>
