<div class="sidebar">
  <div class="sidebar__wrapper">
    <div class="sidebar__currency sidebar__item">
      <p class="sidebar-item__title">цена</p>
      <div class="sidebar-currency__area">
        <div class="sidebar-currency__wrapper">
          <div class="sidebar-currency__item">
            <label for="₽">₽</label><input type="number" min="0.00" max="99999.99" value="0.00" step="0.01"/>
          </div>
          <div class="sidebar-currency__rasdel"></div>
          <div class="sidebar-currency__item">
            <label for="$">$</label><input type="number" value="99999.99" min="0.0" max="99999.99" step="0.01"/>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar__types sidebar__item">
      <p class="sidebar-item__title">Тип</p>
      <div class="sidebar-types__area">
        <div class="sidebar-types__item">
          <input type="checkbox" class="custom-check" name="knife" id="knife" />
          <label for="knife">Ножи</label>
        </div>
        <div class="sidebar-types__item">
          <input
            type="checkbox"
            class="custom-check"
            name="Пистолеты"
            id="Pistol"
          />
          <label for="Pistol">Пистолеты</label>
        </div>
        <div class="sidebar-types__item">
          <input type="checkbox" class="custom-check" name="pet" id="pet" />
          <label for="pet">Петы</label>
        </div>
        <div class="sidebar-types__item">
          <input type="checkbox" class="custom-check" name="сеты" id="set" />
          <label for="set">сеты</label>
        </div>
      </div>
    </div>
    <div class="sidebar__rarity sidebar__item">
      <p class="sidebar-item__title">Редкость</p>

      <div class="sidebar-rarities dropDown">
        <div class="sidebar-rarities_current">
          <p>Показать все</p>
        </div>
        <div class="hide__items sidebar-rarities__all">
          <div class="hide-items__wrapper sidebar-rarities__wrapper">
            <div class="hide__item sidebar-rarities__item">
              <input type="checkbox" name="chroma" id="chroma" />
              <label for="chroma">chroma</label>
            </div>
            <div class="hide__item sidebar-rarities__item">
              <span></span>
              <input type="checkbox" id="Ancients" name="Ancients" />
              <label for="Ancients">Ancients</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar__socials">
      <a href="">
        <img src="../../images/svg/vk.svg" alt="" />
      </a>
      <a href="">
        <img src="../../images/svg/diskord.svg" alt="" />
      </a>
      <a href="">
        <img src="../../images/svg/inst.svg" alt="" />
      </a>
      <a href="">
        <img src="../../images/svg/like.svg" alt="" />
      </a>
    </div>
    <div class="sidebar__img"><img src="../../images/png/lego.png" alt="" /></div>
  </div>
</div>
